In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import scipy as sp
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

# Preprocessing, modelling and evaluating
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, roc_auc_score
from sklearn.model_selection import StratifiedKFold, cross_val_score, KFold
from xgboost import XGBClassifier
import xgboost as xgb

In [2]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [3]:
! ls

## Missing Values- Feature Engineering.ipynb
Feature Encoding .ipynb
Outliers.ipynb
README.md
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
loan.csv
mercedes.csv
mobile_dataset.csv
monthly-milk-production-pounds.csv
test.csv
titanic.csv
train.csv

In [4]:
df = pd.read_csv('train.csv')

In [5]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,50f116bcf,3ac1b8814,68f6ad3e9,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,b3b4d25d0,fbcb50fc1,3b6dd5612,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,3263bdce5,0922e3cb8,a6a36f527,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,f12246592,50d7ad46a,ec69236eb,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,5b0f5acd5,1fe17a1fd,04ddac2be,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [6]:
def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.loc[0].values
    summary['Second Value'] = df.loc[1].values
    summary['Third Value'] = df.loc[2].values

    return summary

In [7]:
resumetable(df)

Dataset Shape: (300000, 25)

      Name  dtypes  Missing  Uniques  First Value Second Value Third Value
0       id   int64        0   300000            0            1           2
1    bin_0   int64        0        2            0            0           0
2    bin_1   int64        0        2            0            1           0
3    bin_2   int64        0        2            0            0           0
4    bin_3  object        0        2            T            T           F
5    bin_4  object        0        2            Y            Y           Y
6    nom_0  object        0        3        Green        Green        Blue
7    nom_1  object        0        6     Triangle    Trapezoid   Trapezoid
8    nom_2  object        0        6        Snake      Hamster        Lion
9    nom_3  object        0        6      Finland       Russia      Russia
10   nom_4  object        0        4      Bassoon        Piano    Theremin
11   nom_5  object        0      222    50f116bcf    b3b4d25d0   3263bdce5
12   nom_6  object        0      522    3ac1b8814    fbcb50fc1   0922e3cb8
13   nom_7  object        0     1220    68f6ad3e9    3b6dd5612   a6a36f527
14   nom_8  object        0     2215    c389000ab    4cd920251   de9c9f684
15   nom_9  object        0    11981    2f4cb3d51    f83c56c21   ae6800dd0
16   ord_0   int64        0        3            2            1           1
17   ord_1  object        0        5  Grandmaster  Grandmaster      Expert
18   ord_2  object        0        6         Cold          Hot    Lava Hot
19   ord_3  object        0       15            h            a           h
20   ord_4  object        0       26            D            A           R
21   ord_5  object        0      192           kr           bF          Jc
22     day   int64        0        7            2            7           7
23   month   int64        0       12            2            8           2
24  target   int64        0        2            0            0           0

#####  Method 1 :Â Label Encoding

In [13]:
df.bin_3.value_counts()

1    153535
0    146465
Name: bin_3, dtype: int64

In [15]:
df.bin_4.value_counts()

1    191633
0    108367
Name: bin_4, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

labelEncoder = LabelEncoder()

df.bin_3 = labelEncoder.fit_transform(df.bin_3.values.ravel())
df.bin_4 = labelEncoder.fit_transform(df.bin_4.values.ravel())

#### OnHot encoding

In [17]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,1,1,Green,Triangle,Snake,Finland,Bassoon,50f116bcf,3ac1b8814,68f6ad3e9,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,1,1,Green,Trapezoid,Hamster,Russia,Piano,b3b4d25d0,fbcb50fc1,3b6dd5612,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,0,1,Blue,Trapezoid,Lion,Russia,Theremin,3263bdce5,0922e3cb8,a6a36f527,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,0,1,Red,Trapezoid,Snake,Canada,Oboe,f12246592,50d7ad46a,ec69236eb,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,0,0,Red,Trapezoid,Lion,Canada,Oboe,5b0f5acd5,1fe17a1fd,04ddac2be,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [18]:
df.shape

(300000, 25)

In [19]:
df.nom_0.value_counts()

Green    127341
Blue      96166
Red       76493
Name: nom_0, dtype: int64

In [20]:
df = pd.get_dummies(columns=["nom_0" ,"nom_1" , "nom_2" , "nom_3" , "nom_4"] , data=df , drop_first=True)

In [27]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target,nom_0_Green,nom_0_Red,nom_1_Polygon,nom_1_Square,nom_1_Star,nom_1_Trapezoid,nom_1_Triangle,nom_2_Cat,nom_2_Dog,nom_2_Hamster,nom_2_Lion,nom_2_Snake,nom_3_China,nom_3_Costa Rica,nom_3_Finland,nom_3_India,nom_3_Russia,nom_4_Oboe,nom_4_Piano,nom_4_Theremin
0,0,0,0,0,1,1,0.358134,3ac1b8814,68f6ad3e9,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0
1,1,0,1,0,1,1,0.388889,fbcb50fc1,3b6dd5612,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0
2,2,0,0,0,0,1,0.274564,0922e3cb8,a6a36f527,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1
3,3,0,1,0,0,1,0.234872,50d7ad46a,ec69236eb,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0
4,4,0,0,0,0,0,0.312438,1fe17a1fd,04ddac2be,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0

In [22]:
df.shape

(300000, 40)

#### Target Encoding

In [23]:
target  = df.groupby('nom_5')['target'].agg('sum') / df.groupby('nom_5')['target'].agg('count')

In [25]:
target

nom_5
005dd4ce3    0.258303
037bd73d8    0.325731
05950689f    0.274924
05d5943a3    0.308231
06eeaf0aa    0.348364
075ceb58b    0.268675
077fd9465    0.340747
0870880f6    0.297491
0870b0a5d    0.327116
09a4ad97d    0.195335
09ed0a686    0.229075
0b3bec656    0.362525
0bdf8165a    0.256912
0de4acd31    0.255259
0de5598a9    0.280353
0dee9b39a    0.343976
0eb46e992    0.266904
0ef5c1879    0.228395
115a252ba    0.425177
116f7e3e2    0.337512
1305d6e77    0.320053
159a7306f    0.312731
176809a41    0.362069
17a3709ae    0.391304
185ba0a59    0.336914
19db35594    0.314933
1bd1068d9    0.238095
1e6cb96e8    0.221228
1f1702d2f    0.316456
1fd0233cd    0.195122
200009fc3    0.429577
20b10a832    0.239266
2979f0d45    0.333191
29e7f8525    0.370690
2a0e95ba1    0.315315
2cac4af40    0.371960
2cadfed8e    0.280035
2cc9e16b9    0.270987
2d61990e2    0.279778
2e7f4d636    0.272834
2ff007c26    0.375285
30a15b6bd    0.397658
30a530eab    0.293763
321bf770e    0.304762
3263bdce5    0.274564
3271e5526    0.272727
3283ca434    0.293680
33adb4760    0.334988
34ad60330    0.239216
3585ff84b    0.281899
35f65a9bf    0.328117
3685a0904    0.287342
372f6d6ce    0.324544
39647c92a    0.301896
3aa9329e2    0.341115
3aabfa2fc    0.281867
3b5632a0c    0.341799
3fef1a765    0.364824
40e0157b1    0.254864
416a8f3ab    0.332836
4173a0252    0.275198
4464569ee    0.270435
448a66834    0.283784
4604905e7    0.246795
46bd3558d    0.291391
46cab09da    0.244790
472efea17    0.358739
475e79160    0.246868
479fd7aea    0.243455
4845cc770    0.327925
488406659    0.359124
493de6347    0.422730
49f4b29cc    0.265857
4e1b529f6    0.356478
4e28ceffa    0.233068
4ebe94c28    0.207317
4f2b65e1e    0.200811
4f7d91943    0.144737
50f116bcf    0.358134
524b3f349    0.314465
527ded12a    0.217865
5331f98fb    0.282486
534be2753    0.263566
552e3fdc9    0.259714
568550f04    0.336677
586b51342    0.372340
59497d53c    0.322289
59e434d8a    0.328173
5a466e166    0.270857
5a94fc1d9    0.369657
5b0f5acd5    0.312438
5b1a9f841    0.227292
5d18641ff    0.292315
5f7065a42    0.275862
6020a8124    0.293151
60a44c8f4    0.382366
63f642dd9    0.294363
640e1fdd5    0.361049
66669a44f    0.274471
6a2269152    0.324237
6c90f81cd    0.309648
6cd0619e0    0.279199
6f70dc2df    0.361702
6fec43dd8    0.251692
713ad10a7    0.317395
71583d387    0.349182
72f8028dc    0.289899
740fb99a9    0.261715
74bd42d5f    0.380435
76be0b8b1    0.368794
7741f57bd    0.257218
778fdbe56    0.293091
77b08badd    0.238559
79923828f    0.252324
7a12c88d2    0.219101
7da3e4aec    0.373462
7e9cb0f9a    0.289091
7ee26092e    0.343511
81264f81f    0.205613
81f9d3312    0.299091
8266050c6    0.280394
82d1a6dbb    0.300000
83b38aa6b    0.246768
84b0081ad    0.249565
85159d577    0.251928
8573fa81a    0.245353
88707c9ab    0.222561
88917a066    0.306034
88f104c00    0.355932
8cf6c9f74    0.365535
8d5d9f3db    0.267143
8dcf8adfb    0.378299
908a1b9c9    0.201241
91a20b464    0.243571
91bde92fa    0.337855
91c80026f    0.343750
91ea3e4dd    0.357678
92190168b    0.230274
924346656    0.340502
9347491f2    0.250927
96c73114c    0.291036
96c83ac09    0.248670
9ad6558d1    0.334381
9ba4e87a7    0.248394
9bb7ea2da    0.320104
9ecc58be1    0.230392
a21564cab    0.389423
a3471b9d9    0.230769
a35c346aa    0.239482
a3f640358    0.190220
a51e7974e    0.394541
a5c276589    0.329803
a93b89fc9    0.272343
a9ed6dfea    0.312711
ad95dc0ee    0.278846
ade526ba7    0.402477
af088d192    0.386076
b0c8dba76    0.384252
b0faff28f    0.374005
b3b4d25d0    0.388889
b4c8e6595    0.295906
b7bb45938    0.261857
b8d451029    0.211623
b97f51ac4    0.416268
baab29d3d    0.223889
bd40c81f3    0.344587
bd7740b93    0.217920
bdb9fef4a    0.300809
be4578201    0.314798
be5592604    0.193144
c0534106d    0.226010
c08ba4f4c    0.321053
c2843dc45    0.241297
c5725677e    0.328419
ca82ad111    0.211600
caf83c0b5    0.324296
d1b1709e8    0.397603
d3079098d    0.316667
d372c8993    0.310295
d9becff68    0.401598
da60580a8    0.424585
db5e25328    0.220420
dbc448931    0.269822
dbfb714a4    0.408790
dc07effb0    0.379768
dd500b26a    0.306268
ddac78300    0.381291
de04b8750    0.261003
defc6dd20    0.370370
df51b96fc    0.267670
e08092732    0.377850
e0efe9d20    0.300757
e1558b071    0.306356
e428c040e    0.339844
e52fbf1c8    0.301782
e5b29c42b    0.415057
e6f45aa26    0.378036
e70a6270d    0.243365
e7d9ca356    0.323397
e844a1f66    0.303089
e85ec20b5    0.313015
e9c6fe0f7    0.326220
e9f44a509    0.276291
ead12da87    0.244444
eb0004a0b    0.244966
eb69430d6    0.306185
ee55b9d67    0.257488
ef38568df    0.228504
f0c1ceee4    0.323457
f12246592    0.234872
f2a6d797b    0.254464
f2d59cf51    0.276773
f50eb07ae    0.379280
f6c524860    0.242915
f710fca39    0.269231
f7821e391    0.370225
f802a9849    0.326087
f8faea16f    0.339595
f9d17bb93    0.299315
f9e5266f9    0.405221
fa0a88fe9    0.304408
fd04a970f    0.320312
Name: target, dtype: float64

In [26]:
df.nom_5 = df.nom_5.replace(target).values

In [28]:
df.nom_5.value_counts()

0.370225    2801
0.348364    2750
0.358739    2729
0.239266    2725
0.416268    2717
0.246868    2714
0.293091    2692
0.332836    2683
0.309648    2674
0.270857    2673
0.361049    2670
0.289899    2663
0.276291    2653
0.327925    2650
0.233068    2643
0.244790    2639
0.246768    2630
0.375285    2630
0.261003    2613
0.306185    2603
0.369657    2597
0.358134    2594
0.201241    2579
0.344587    2577
0.274471    2554
0.334381    2545
0.362525    2535
0.274564    2524
0.397658    2477
0.287342    2457
0.243365    2449
0.337855    2433
0.425177    2399
0.267670    2391
0.227292    2389
0.378299    2387
0.343976    2349
0.279199    2346
0.333191    2344
0.293763    2325
0.280035    2289
0.379280    2278
0.374005    2262
0.314798    2230
0.190220    2229
0.382366    2223
0.323397    2214
0.312731    2168
0.255259    2139
0.292315    2121
0.408790    2116
0.228504    2105
0.300809    2101
0.241297    2097
0.310295    2069
0.276773    2045
0.328117    2045
0.314933    2029
0.306356    2014
0.312438    2010
0.261715    2006
0.301896    2004
0.274924    1986
0.329803    1983
0.261857    1982
0.378036    1976
0.381291    1967
0.397603    1919
0.294363    1916
0.320104    1915
0.272343    1891
0.304762    1890
0.246795    1872
0.205613    1853
0.217865    1836
0.379768    1809
0.279778    1805
0.223889    1800
0.257488    1736
0.249565    1723
0.272834    1708
0.221228    1677
0.422730    1663
0.268675    1660
0.251692    1625
0.323457    1620
0.336677    1595
0.226010    1584
0.380435    1564
0.251928    1556
0.324237    1539
0.320312    1536
0.193144    1517
0.320053    1506
0.424585    1505
0.415057    1501
0.259714    1467
0.299315    1460
0.300757    1453
0.280394    1423
0.306268    1404
0.325731    1403
0.243571    1400
0.356478    1397
0.339595    1384
0.401598    1377
0.280353    1359
0.270987    1358
0.217920    1317
0.222561    1312
0.270435    1309
0.238095    1302
0.349182    1283
0.368794    1269
0.340747    1259
0.230274    1242
0.328419    1221
0.317395    1213
0.394541    1209
0.316456    1185
0.343511    1179
0.373462    1138
0.299091    1100
0.357678    1068
0.220420    1048
0.337512    1037
0.238559    1027
0.336914    1024
0.281899    1011
0.364824     995
0.362069     986
0.234872     975
0.328173     969
0.324296     959
0.386076     948
0.341799     945
0.372340     940
0.248394     934
0.211600     931
0.377850     921
0.211623     912
0.301782     898
0.312711     889
0.275198     883
0.405221     881
0.256912     868
0.291036     859
0.295906     855
0.269822     845
0.266904     843
0.250927     809
0.334988     806
0.361702     799
0.388889     792
0.341115     771
0.339844     768
0.243455     764
0.370370     756
0.252324     753
0.248670     752
0.265857     741
0.391304     736
0.304408     726
0.267143     700
0.371960     699
0.327116     697
0.359124     685
0.228395     648
0.263566     645
0.384252     635
0.313015     607
0.308231     571
0.297491     558
0.281867     557
0.315315     555
0.289091     550
0.303089     518
0.254864     514
0.242915     494
0.200811     493
0.324544     493
0.306034     464
0.370690     464
0.229075     454
0.254464     448
0.429577     426
0.230392     408
0.365535     383
0.257218     381
0.293151     365
0.195335     343
0.322289     332
0.326220     328
0.402477     323
0.239482     309
0.244966     298
0.340502     279
0.258303     271
0.245353     269
0.293680     269
0.239216     255
0.244444     225
0.389423     208
0.278846     208
0.300000     200
0.321053     190
0.219101     178
0.282486     177
0.314465     159
0.291391     151
0.283784     148
0.316667     120
0.275862     116
0.230769      91
0.272727      88
0.207317      82
0.144737      76
0.343750      64
0.355932      59
0.326087      46
0.195122      41
0.269231      26
Name: nom_5, dtype: int64